#ifndef SETTINGS_H
#define SETTINGS_H

// Weather Settings.
#define CITY_ID "5128581" // New York City: https://openweathermap.org/current#cityid
// Find a key at https://github.com/sqfmi/Watchy/blob/3e3a8859a94755cc0b7d2de5f189a3de7ccb62e7/examples/WatchFaces/7_SEG/settings.h#L6
#define OPENWEATHERMAP_APIKEY "hackme"
#define OPENWEATHERMAP_URL "http://api.openweathermap.org/data/2.5/weather?id="
#define TEMP_UNIT "metric" // metric = Celsius, imperial = Fahrenheit
#define TEMP_LANG "en"
#define WEATHER_UPDATE_INTERVAL 30 // Minutes.  Must be greater than 5.

// NTP Settings
#define NTP_SERVER "pool.ntp.org"
#define GMT_OFFSET_SEC 3600 * -5 // New York is UTC -5.
#define DST_OFFSET_SEC 3600

watchySettings settings{
  CITY_ID,
  OPENWEATHERMAP_APIKEY,
  OPENWEATHERMAP_URL,
  TEMP_UNIT,
  TEMP_LANG,
  WEATHER_UPDATE_INTERVAL,
  NTP_SERVER,
  GMT_OFFSET_SEC,
  DST_OFFSET_SEC
};

#endif
